<a href="https://colab.research.google.com/github/grjadhav409/ATG4B-inhibitors-prediction-using-ML/blob/main/2_7_RF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### lib

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Load libraries
import numpy as np
import pandas as pd
from numpy import arange
from matplotlib import pyplot
from pandas import read_csv
from pandas import set_option
from pandas.plotting import scatter_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.metrics import mean_squared_error

In [ ]:
# SVM Regression
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.svm import SVR

### x and y

In [ ]:
#load X and Y
df1= pd.read_csv("/content/drive/MyDrive/Colab Notebooks/drug discovery/ATG4B/data_atg4b/X_padel.csv")
df2= pd.read_csv("/content/drive/MyDrive/Colab Notebooks/drug discovery/ATG4B/data_atg4b/y_pic50.csv")

#combine X and Y 
df4= pd.concat([df1,df2],axis=1)

#remove unnamed column
df5 = df4.loc[:,~df4.columns.str.match("Unnamed")]

# Replace to drop rows or columns infinite values
df6 = df5.replace([np.inf, -np.inf], np.nan).dropna(axis=0)

#reset index
df7= df6.reset_index()
df7 = df7.loc[:,~df7.columns.str.match("index")]


# define X and Y
X = df7.drop("pIC50", axis=1)
X=X.astype('int')
Y= df7["pIC50"]
Y=Y.astype('float')

X

,nAcid,ALogP,ALogp2,AMR,apol,naAromAtom,nAromBond,nAtom,nHeavyAtom,nH,...,PubchemFP871,PubchemFP872,PubchemFP873,PubchemFP874,PubchemFP875,PubchemFP876,PubchemFP877,PubchemFP878,PubchemFP879,PubchemFP880
0,0,1,1,36,42,12,12,34,26,8,...,0,0,0,0,0,0,0,0,0,0
1,0,-1,2,59,60,11,11,54,26,28,...,0,0,0,0,0,0,0,0,0,0
2,0,-1,1,14,33,12,13,26,17,9,...,0,0,0,0,0,0,0,0,0,0
3,0,1,2,80,65,12,17,51,30,21,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,41,58,17,17,47,27,20,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,0,0,0,57,66,16,17,54,33,21,...,0,0,0,0,0,0,0,0,0,0
239,0,0,0,49,58,12,12,51,28,23,...,0,0,0,0,0,0,0,0,0,0
240,0,-1,3,44,55,12,12,48,27,21,...,0,0,0,0,0,0,0,0,0,0
241,0,-2,4,37,69,26,35,54,38,16,...,0,0,0,0,0,0,0,0,0,0
242,0,0,0,39,55,17,17,48,27,21,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# Use numpy to convert to arrays
import numpy as np

# Labels are the values we want to predict
labels = np.array(df7['pIC50'])

# Remove the labels from the features
# axis 1 refers to the columns
features= df7.drop('pIC50', axis = 1)

# Saving feature names for later use
feature_list = list(features.columns)

# Convert to numpy array
features = np.array(features)

In [ ]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25,
                                                                           random_state = 42)

In [ ]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (182, 2756)
Training Labels Shape: (182,)
Testing Features Shape: (61, 2756)
Testing Labels Shape: (61,)

### Train Model

In [ ]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor

# Instantiate model 
rf = RandomForestRegressor(n_estimators= 1000, random_state=42)

# Train the model on training data
rf.fit(train_features, train_labels);

make prediction on test data

In [ ]:
# Use the forest's predict method on the test data
predictions = rf.predict(test_features)

# Calculate the absolute errors
errors = abs(predictions - test_labels)

# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'pIC50 value')

Mean Absolute Error: 0.34 degrees.

Determine performance Matrix

In [ ]:
# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors / test_labels)

# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 93.21 %.

improve model with hyperparameter optimisation

In [ ]:
rf_new = RandomForestRegressor(n_estimators = 100, criterion = 'mse', max_depth = None, 
                               min_samples_split = 2, min_samples_leaf = 1)

In [ ]:
# Import tools needed for visualization
from sklearn.tree import export_graphviz
import pydot

# Pull out one tree from the forest
tree = rf.estimators_[5]

# Export the image to a dot file
export_graphviz(tree, out_file = 'tree.dot', feature_names = feature_list, rounded = True, precision = 1)

# Use dot file to create a graph
(graph, ) = pydot.graph_from_dot_file('tree.dot')

# Write graph to a png file
graph.write_png('tree.png');

In [ ]:
print('The depth of this tree is:', tree.tree_.max_depth)

The depth of this tree is: 19